<div class="container">
  <div class="ml-5">
    <h2>投稿一覧＆新規投稿</h2>
  </div>
<!--投稿一覧-->
  <%= render 'comments/list', comments:@comments %>
<!--新規投稿-->
  <%= render 'comments/new', comment:@comment %>
</div>