<% notifications = @notifications.where.not(visitor_id: current_user.id)%>
<div class="container">
  <div class="col-md-7 mt-5 mx-auto">
    <h2><strong>通知一覧</strong></h2>
    <table class="table table-hover shadow">
      <tbody>
        <% if @notifications.exists? %>
          <%= render notifications %>
        <% else %>
          <p>通知はありません</p>
        <% end %>
      </tbody>
    </table>
    <%= paginate notifications%>
    <p><%= link_to '戻る', comments_path, class:'btn btn-primary mt-3' %></p>
  </div>
</div>