<% unless current_user == user%>
  <% if current_user.following?(user) %>
    <p><%= link_to 'フォロー解除', user_relationship_path(user.id), method: :delete, class:'btn btn-primary' %></p>
  <% else %>
    <p><%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class:'btn btn-outline-primary' %></p>
  <% end %>
<% end %>
<%= link_to 'フォロー一覧', user_following_path(user.id), class:'btn btn-primary' %>
<%= link_to 'フォロワー一覧', user_follower_path(user.id), class:'btn btn-primary' %>