// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-title{
  margin-top: 50px;
  border-left: 5px solid #00bfff;
}

.show-title, .edit-title{
  margin-top: 54px;
  margin-bottom: 30px;
  border-left: 5px solid #00bfff;
}

.heart{
  color: #ff1493;
}

.good-btn{
  display: inline-block;
}