<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <%= link_to root_path do%>
        <h1 class="navbar-brand text-light">ホームページタイトル</h1>
      <% end %>
      <ul class="navbar-nav text-light">
        <li>ナビゲーション1</li>
        <li class="ml-3">ナビゲーション2</li>
      </ul>
    </div>
  </nav>
</header>